
  button {
    height: 23vh;
    width: 12vw;
    margin: auto;
    border-radius: 15px;
    border: 2px solid #eecbff;
    justify-content: space-around;
    opacity: 0.85;
    background: no-repeat center #ffd4e5;
  }
  button:hover {opacity: 1}

  
 


